<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>
		Stemosoft | Covid Info</title>
	<%_ currentPage = "/docs" _%>
	<%- include('../partials/metadata') %>
	<link rel="icon" src="./images/covidInfo/icon-20.png">
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<div class="page__header_o">
		<div  class="container">
			<div class="page__header__content_o">
				<div id="stemosoftHeader">
					<a href='index.html' class="navbar__logo">stemosoft</a>
				</div>
				<div  class="page__header__content__inner_o" id='navConverter'>
					<h1 class="page__header__title_o">
					<img id="small-image" src="./images/covidInfo/icon-29@3x.png" class="expanded__image">
					Covid Info</h1>
				</div>
			</div>
		</div>
	</div>
	<div id="navBarMenu" class="page">
		<div class="side-nav-menu-wrap container">
			<div class="side-nav-menu">
				<ul class="vMenu">
					<li class="nav-menu-item"><a href="#app-info">What is Covid Info&trade;</a></li>
					<li class="nav-menu-item"><a href="#details" >Details</a></li>
					<li class="nav-menu-item"><a href="#privacy-policy" >Privacy policy</a></li>
				</ul>
			</div>
			<div class="page__inner">
				<!-- <div id="border_divider"></div> -->
				
				<div class="page__main_o">
					<div class="container">
						<div class="text_container_o text_container_o--center">
							<div class="step__media">
							</div>
							<h1 class="description-header" id="app-info">What is Covid Info&trade;?</h1>
							<div >
								With Covid Info&trade;, you will be informed easily and quickly about new Covid19 cases in Bulgaria and the world. 
							</div>
							<h1 class="description-header" id="details">Details</h1>
							<div >
								<!-- <div class="expanded landing__section">
									<div class="container">
										<div class="expanded__inner">
											<div class="expanded__media">
												<img src="./images/liveText/screen1.jpg" class="expanded__image">
											</div>
											<div class="expanded__content">
												<h2 class="expanded__title">Let everyone see your message</h2>
												<p class="expanded__text">At a concert, EDM party or any other fun place you can imagine.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="expanded landing__section">
									<div class="container">
										<div class="expanded__inner">
											<div class="expanded__media">
												<img src="./images/liveText/screen2.jpg" class="expanded__image">
											</div>
											<div class="expanded__content">
												<h2 class="expanded__title">Move your text with gestures</h2>
												<p class="expanded__text">You can pinch, pan & rotate your text any way you want using our intuitive gesture control.</p>
											</div>
										</div>
									</div>
								</div> -->
						</div>
						<h1 class="description-header" id="privacy-policy">Privacy policy</h1>
                        <div>
                            <strong>Privacy Policy</strong>
                            <p>
                                Stemosoft built the Covid Info app as
                                a Free app. This SERVICE is provided by
                                Stemosoft at no cost and is intended for use as
                                is.
                            </p>
                            <p>
                                The terms used in this Privacy Policy have the same meanings
                                as in our Terms and Conditions, which is accessible at
                                Covid Info unless otherwise defined in this Privacy Policy.
                            </p>
                            <p>
                                Covid Info <strong>does not</strong> collect or store any personal information for its users!
                            </p>
                            <div>
                                <p>
                                    Link to privacy policy of third party service providers used
                                    by the app
                                </p>
                                <ul>
                                    <li><a href="https://covid19api.com/" target="_blank"
                                            rel="noopener noreferrer">Covid 19 API</a></li>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                </ul>
                            </div>
                            <p><strong>Changes to This Privacy Policy</strong></p>
                            <p>
                                I may update our Privacy Policy from
                                time to time. Thus, you are advised to review this page
                                periodically for any changes. I will
                                notify you of any changes by posting the new Privacy Policy on
                                this page.
                            </p>
                            <p>This policy is effective as of 2020-07-04</p>
                            <p><strong>Contact Us</strong></p>
                            <p>
                                If you have any questions or suggestions about my
                                Privacy Policy, do not hesitate to contact me at stemosoft@gmail.com.
                            </p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('../partials/footer') %>
<script src='<%= asset("js/app.min.js") %>'></script>
<%- include('../partials/analytics') %>
</body>
</html>